.container
  = render "shared/student"
  .row.profile
    = render "shared/student_side_nav"
    .span8
      %h6 TIMELINE
      .activities
        = render "shared/activity"
      = paginate @activities