.container
  .row.profile
    .span3.side-nav
      %h6 MENTORS
      = render @mentors
      = link_to "ADD MENTOR", new_mentor_path, class: "btn btn-success btn-mini"
    .span8
      %h6 TIMELINE
      .activities
        = render "shared/activity"
      = paginate @activities