production:
  sessions:
    default:
      uri: <%= ENV['MONGOHQ_URL'] %>

development:
  sessions:
    default:
      database: student_lab_development
      hosts:
        - localhost:27017
      options:
  options:
    raise_not_found_error: false

test:
  sessions:
    default:
      database: student_lab_test
      hosts:
        - localhost:27017
      options:
        consistency: :strong
        max_retries: 1
        retry_interval: 0
  options:
    raise_not_found_error: false